<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta
          content="width=device-width, initial-scale=1, maximum-scale=1"
          name="viewport"
         /> <!-- This is required for the media queries to work on the mobile
         devices.  -->
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter Travel Destination!">
                    <!-- <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name"> -->
                    <input id="date" type="date" name="date" value="2022-06-01" >
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <h2>
                  <strong>Travel Weather Forcast: </strong>
                  <p id="results"></p>
                  <!-- <div id="results"></div> -->
                </h2>
            </section>

            <section>
              <div id="cardBox" class="cardContent">
                <!--
                <a href="#" class="card">
                  <img src="https://placebear.com/200/300" class="card__image" alt="brown couch" />
                  <div class="card__content">
                    <time datetime="2021-03-30" class="card__date">30 march 2021</time>
                    <span class="card__title">Card title text?</span>
                  </div>
                </a>
                -->
              </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <a href="https://pixabay.com/">
            <img src="https://pixabay.com/static/img/public/leaderboard_b.png" alt="Pixabay" class='pixImg'>
        </a>
        <!--
        <a href="https://pixabay.com/">
            <img src="https://pixabay.com/static/img/public/medium_rectangle_b.png" alt="Pixabay" class='pixImg'>
        </a>
      -->
        <!--
        <a href="https://pixabay.com/">
            <img src="https://pixabay.com/static/img/public/leaderboard_a.png" alt="Pixabay" class='pixImg'>
        </a>
      -->

        <script>
           // Check that service workers are supported
           if ('serviceWorker' in navigator) {
               // Use the window load event to keep the page load performant
               window.addEventListener('load', () => {
                   navigator.serviceWorker.register('/service-worker.js');
               });
           }
        </script>

    </body>
</html>
